<!--
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
    <title>Vue Js</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="texto">
        <span>{{ texto }}</span>
    </div>

    <script src="script.js"></script>
</body>
-->




<!-- SEGUNDA PARTE. -->
<!--
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
    <title>Vue Js</title>
</head>
<body>
    <div id="app">
        <span>{{ n1 }}</span>
        <span>{{ n2 }}</span>
        <span>{{ n3 }}</span>
    </div>

    <script src="script.js"></script>
</body>
-->




<!-- TERCEIRA PARTE. -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
    <title>Vue Js</title>
</head>
<body>
    <div id="app">
        <span>{{ n1 }}</span>
        <input type="text" v-model="n2">
        <span>{{ n1+parseInt(n2) }}</span><!--parseInt() para transformar de string comum para numeros inteiros-->
    </div>

    <script src="script.js"></script>
</body>