<!--<!DOCTYPE html>
<html>
<head>
	<title>Vue.js</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div id="app">
		<header class="header">

		</header>
		<section class="container">
			<section class="container__content">
				
				Como Array
				<div v-for="(item, index) in lista">
					Item #{{ index }} - {{ item.nome }}
				</div>

			</section>
			<aside class="container__sidebar">

			
			</aside>
		</section>
		<footer class="footer">

		</footer>
	</div>

	<script src="script.js"></script>
</body>
</html>
-->




<!--COMO OBJETO-->

<!DOCTYPE html>
<html>
<head>
	<title>Vue.js</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div id="app">
		<header class="header">

		</header>
		<section class="container">
			<section class="container__content">
				
				<!--Como Objeto-->
				<div v-for="(value, key, index) in objeto">
					item #{{ index }} - {{ key }} : {{ value }}
				</div>

			</section>
			<aside class="container__sidebar">

			
			</aside>
		</section>
		<footer class="footer">

		</footer>
	</div>

	<script src="script.js"></script>
</body>
</html>









