/*
.azul {
    background-color: blue;
    color: #FFF;
}
.vermelho {
    background-color: red;
    color: #FFF;
}
.verde {
    background-color: green;
    color: #FFF;
}
*/



#telefone {
    display: none;
}


























